<!doctype html>
<html>
<head>
    <title>Brain Store</title>
    
    
    @Styles.Render("~/Styles/charts")
    @Styles.Render("~/Styles/layout")
    @Styles.Render("~/Styles/bootstrap")

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>    

    <!-- for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/web/es/lib/html5shim/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- icons -->

</head>
<body>
    <div class="wrapper">
        
        <!-- ==================================== top navigation section ====================================-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- ==== show menu for device ====-->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- ==== site logo ====-->
                    <a class="brand" href="/">
                        <img src="~/web/es/img/brainstore_logo.png">
                    </a>
                    <!-- ==== show menu for desktop device ====-->
                    <div class="nav-collapse collapse topmenu">
                        <ul class="nav" id="navmenu">
                            <li class="">
                                <a href="/"> Home </a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("", "live")"> Live </a>
                            </li>
                            <li class="">
                                <a href="http://jflood.net" target="_blank"> Blog </a>
                            </li>
                       
                        </ul>
                    </div>



                    <!--/.nav-collapse -->                    
                </div>
            </div>
        </div>
        <!-- ==================================== content section ====================================-->
        <div class="container content">   
            
            @RenderBody()          
        </div>
   </div>       <!-- /container -->
</div><!--For some stupid reason browser is wrapping the footer within the wrapper-->       
 

    <!-- ==================================== footer section ====================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>
                        <a href="https://twitter.com/jfloodnet" class="twitter-follow-button" data-show-count="false">Follow @@jfloodnet</a>
                    </p>
                </div>
                <div class="powered-by span12">
                    <p>Powered by <a href="http://geteventstore.com" target="_blank">EventStore 2012</a></p>
                </div>
            </div>
        </div>
    </footer>                 


    @Scripts.Render("~/Scripts/jquery")

    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/Scripts/eventstore")
    @Scripts.Render("~/Scripts/charts")
    @Scripts.Render("~/Scripts/controls")
    @Scripts.Render("~/Scripts/bootstrap")  
    
    @RenderSection("scripts", false)
    
    @Scripts.Render("~/Scripts/GoogleAnalytics")
    @Scripts.Render("~/Scripts/TwitterFollow")
</body>
</html>
